<div class "entry-card" id="<%= dom_id entry %>" >
  
    <header class="card-header" >
      <p class="card-header-title is-centered"><%= entry.meal_type %>
      
    </header>
  
  <div class="card-content-body">
    <p><span>
      <strong>Description:</strong>
      <%= entry.description %>
      </span>
    </p>

    <p class="grey"><span>
      <strong>Calories:</strong>
      <%= entry.calories %>
      </span>
    </p>

    <p><span>
      <strong>Carbohydrates:</strong>
      <%= entry.carbohydrates %>
      </span>
    </p>

    <p class="grey"><span>
      <strong>Protein:</strong>
      <%= entry.protein %>
      </span>
    </p>

    <p><span>
      <strong>Fats:</strong>
      <%= entry.fats %>
      </span>
    </p>
  </div>
  <p class="time">Logged <%= time_ago_in_words(entry.created_at) %> ago</p>

</div>



<%# workign on the archives link  %>