<% content_for :title do %>
 <img src="/assets/calorie.gif">
 <br> 
 <%=Date.today.strftime('%A - %B %d, %Y') %> 
<% end %>

<div class="columns mt-6 is-centered">
  <div class="card-content">
   <div class="content">

     <p  class="card-header-title is-centered">
     <strong> Today's Meals:</strong><i style="color:MediumOrchid"> <%= @entries.all.group_by(&:day).count %> </i>
     </p>
     <p>
     <strong>Calories:</strong><i> <%= @entries.pluck(:calories).sum %>g </i>
     <strong> Total Carbohydrates:</strong><i> <%= @entries.pluck(:carbohydrates).sum %>g </i>
     <strong>Total Protein: </strong><i> <%= @entries.pluck(:protein).sum %>g </i>
     <strong>Total Fat:</strong><i> <%= @entries.pluck(:fats).sum %>g </i>
    <p colspan="3"></p>
    </p>

    
  </div>
</div>
</div>
<%# this will have the calc day display  %>
<div class="columns mt-5 is-centered">
  <div id="entries">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <button>
        <%= link_to "Show this entry ", entry %>
      </button>
      
    <% end %>
  </div>
</div>
<div class="columns mt-6 is-centered" >
  <button>
    <%= link_to " New entry", new_entry_path %>
  </button>
  <button class="is-link is-outlined is-centered">
    <%= link_to "View all entries", archive_index_path %>
  </button>
</div>
</div>

<%# possible listing options for total  %>

    <%# 
    <%= @entries.pluck(:meal_type).join(' | ') %> 
    
    
    <%# <% @entries.each do |entry| %> 
    <%# <span class="language"><%= entry.meal_type %>
    <%# </span> | %> 
    <%# <% end %> 